ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    padding: 10px;
    text-decoration: none;
    background: #F7b600;
    text-indent: 20px;
    line-height: 50px;
    color: black;
}

a:hover, .selecionado{
    background: #F99200;
    color: #FFF;
}

#home .home,
#sobre .sobre{

    background: red;

}